/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.logo {
  width: 70%;
  margin: 0px auto;
}
.bubble {
  background:#ddd !important;
  width:50px;
  height:50px;
  border-radius: 100%;
  box-shadow:0px 0px 1px 5px rgba(0, 0, 0, 0.1)
}
.you-win {
  position: absolute;
  top:40%;
  bottom:0px;
  width: 100%;
  z-index:999;
  img {
    width: 100%
  }
}
.bubble-small {
  background:#ddd !important;
  width:30px;
  height:30px;
  border-radius: 100%;
}

.graybubble {
  background:#ddd !important;
  width:50px;
  height:50px;
  border-radius: 100%;
  box-shadow:0px 0px 1px 10px rgba(0, 0, 0,0.1)
}

.red {
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%) !important;
}
.lightblue {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%) !important;
}
.cyan {
  background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%) !important;
}
.purple {
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%) !important;
}
.green {
  background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%) !important;
}
.lightgreen {
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%) !important;
}
.black {
  background-image: linear-gradient(to right, #434343 0%, black 100%) !important;
}
.blue {
  background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%) !important;
}
.orange {
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%) !important;
}
.yellow {
  background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%) !important;
}
.item-inner {
  border: unset !important;
}

.bubble-items {
  display:flex;
  justify-content: space-around
}


ion-content.background{
  --background: url('assets/bg.png') 0 0/100% 100% no-repeat !important;
}
